doctype xml
rss(rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd")
	//- xmlns:atom="http://www.w3.org/2005/Atom"
	channel
		title= meta.title
		link= serverURL+"file/"+slug+"/"
		description= meta.description
		lastBuildDate= meta.time
		updated=meta.time
		itunes:author= meta.author
		itunes:summary= meta.description
		itunes:image(href=serverURL+meta.image)

		each item in items
			item
				titel= item.title
				link= serverURL+"file/"+slug+"/" +item.file
				guid=item.id
				description= item.description
				enclosure(url=(serverURL+"file/"+slug+"/"+item.file) length=item.size type=item.type)
